.clients{
  
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 50px;
        
       
        padding-bottom:100px ;
        a{
          display: inline-block;
        }

    }

    @media(max-width:600px){
        .container{
          padding-inline: 20px;
           
           article{
         figure{
           .mb_remove{
           display: none;
           }
         }
           }
        }
    }
}